       <form action="/questions" id="question-form" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <div class="que-row">
                <textarea cols="30" rows="4" name="conduct[question]" id="question_qu" placeholder="Question.." required></textarea>
            </div>
            <div class="qu-row">
                <div class="qu-col">
                    <div class="ques">
                        <input type="text" name="conduct[answer]" id="answer" placeholder="Answer.." required>
                    </div>
                    <div class="ques">
                        <input type="text" name="conduct[choice1]" id="choice2" placeholder="choice.." required>
                    </div>
                    <div class="ques">
                        <input type="text" name="conduct[choice2]" id="choice1" placeholder="choice(optional)">
                    </div>
                    <div class="ques">
                        <input type="text" name="conduct[choice3]" id="choice3" placeholder="choice(optional)">
                    </div> 
                </div>        
            </div>
            <div class="qu-btn">
                <input type="submit" value="Submit">
            </div>
        </form>