<div class="menu">
    <div class="main_menu">
        <%if current_user%>
        <a href="/home"><button class="home_btn"><em class="fa-solid fa-house"></em>Home</button></a>
        <a href="/interview"><button class="interview_btn"><em class="fa-solid fa-person-circle-question"></em>InterviewQ&A</button></a>
        <a href="/assessment"><button class="assessment_btn"><em class="fa-solid fa-clipboard-question"></em>Assessment</button></a>
        <a href="/dashboard"><button class="dashbord_btn"><em class="fa-solid fa-chart-line"></em>Dashboard</button></a>
        <a href="/settings"><button class="setting_btn"><em class="fa-solid fa-gear"></em>Settings</button></a>
        <%else%>
        <a href="/home"><button class="home_btn"><em class="fa-solid fa-house"></em>Home</button></a>
        <a href="/interview"><button class="interview_btn"><em class="fa-solid fa-person-circle-question"></em>InterviewQ&A</button></a>
        <a href="/login"><button class="assessment_btn"><em class="fa-solid fa-clipboard-question"></em>Assessment</button></a>
        <a href="/login"><button class="dashbord_btn"><em class="fa-solid fa-chart-line"></em>Dashboard</button></a>
        <a href="/login"><button class="setting_btn"><em class="fa-solid fa-gear"></em>Settings</button></a>
        <%end%>
    </div>
</div>